.App .slideOne, .App .slideTwo, .App .slideThree {
  width: 100%;
  height: 1080px;
  position: relative;
}

.App .navBarOuter {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 70px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  background-color: black;
}

.App .navBarOuter .logoOuter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[23];
      grid-template-columns: repeat(23, 1fr);
}

.App .navBarOuter .logoOuter .logo {
  -ms-grid-column: 3;
  grid-column: 3;
  position: relative;
  top: 50px;
  z-index: 300;
}

.App .navBarOuter .navBarOuter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[23];
      grid-template-columns: repeat(23, 1fr);
  color: white;
}

.App .navBarOuter .navBarOuter .WeAre {
  -ms-grid-column: 14;
  -ms-grid-column-span: 2;
  grid-column: 14/16;
  z-index: 100;
}

.App .navBarOuter .navBarOuter .Business {
  -ms-grid-column: 17;
  -ms-grid-column-span: 2;
  grid-column: 17/19;
  z-index: 100;
}

.App .navBarOuter .navBarOuter .headerContact {
  -ms-grid-column: 20;
  -ms-grid-column-span: 2;
  grid-column: 20/ 22;
  z-index: 100;
}

.App .navBarOuter .navBarOuter .En {
  -ms-grid-column: 22;
  grid-column: 22;
  z-index: 100;
}

.App .navBarOuter .dropDown {
  height: 300px;
  width: 200px;
  background-color: black;
}

.App .navBarOuter .outerContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[23];
      grid-template-columns: repeat(23, 1fr);
  height: 300px;
  z-index: 200;
  background-color: black;
  color: white;
}

.App .navBarOuter .outerContainer .InnerContainer {
  -ms-grid-column: 3;
  -ms-grid-column-span: 20;
  grid-column: 3 / 23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .navBarOuter .outerContainer .InnerContainer .quality {
  background-color: lightcoral;
  height: 250px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../src/components/images/headerBean.jpg");
  background-repeat: none;
  background-size: cover;
}

.App .navBarOuter .outerContainer .InnerContainer .history {
  background-color: lightcoral;
  height: 250px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../src/components/images/threeCoffee.jpg");
  background-repeat: none;
  background-size: cover;
}

.App .navBarOuter .outerContainer .InnerContainer .brand {
  background-color: lightcoral;
  height: 250px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../src/components/images/coffedrip.jpg");
  background-repeat: none;
  background-size: cover;
}

.App .navBarOuter .outerContainer .InnerContainer .discover {
  background-color: lightcoral;
  height: 250px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../src/components/images/history.jpg");
  background-repeat: none;
  background-size: cover;
}

.App .navBarOuter .outerContainer .InnerContainer .team {
  background-color: lightcoral;
  height: 250px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../src/components/images/headerBean.jpg");
  background-repeat: none;
  background-size: cover;
}

.App .fullPage {
  position: relative;
  bottom: 100px;
  width: 1920px;
  height: 1080px;
}

.App .fullPage .aBlock {
  width: 1920px;
  height: 1080px;
}

.App .fullPage .bBlock {
  width: 1920px;
  height: 1080px;
}

.App .fullPage .cBlock {
  width: 1920px;
  height: 1080px;
}

.App .fullPage .title {
  color: black;
  position: absolute;
  bottom: 600px;
}

.App .fullPage .title .firstTitle {
  position: relative;
  right: 170px;
  font-size: 40px;
}

.App .fullPage .title .firstSubTitle {
  font-size: 32px;
}

.App .fullPage .title .visitShop {
  font-size: 16px;
  color: black;
  border: 1px solid red;
  background-color: red;
  width: 50%;
  position: relative;
  top: 20px;
  padding: 10px;
}

.App .fullPage .title .secondTitle {
  position: relative;
  right: 50px;
  font-size: 40px;
}

.App .fullPage .title .secondSubTitle {
  position: relative;
  right: 120px;
}

.App .fullPage .title .thirdSubTitle {
  position: relative;
  right: 185px;
}

.App .footerContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[23];
      grid-template-columns: repeat(23, 1fr);
  grid-auto-rows: 50px;
}

.App .footerContainer .sectionOne {
  -ms-grid-column: 1;
  -ms-grid-column-span: 23;
  grid-column: 1 / 24;
  grid-row: span 5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[23];
      grid-template-columns: repeat(23, 1fr);
  background-color: red;
}

.App .footerContainer .sectionOne .phoneIcon {
  -ms-grid-column: 6;
  grid-column: 6;
  width: 175px;
  position: relative;
  bottom: 30px;
}

.App .footerContainer .sectionOne .specialOffer {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / 12;
  font-size: 30px;
  position: relative;
  top: 50px;
}

.App .footerContainer .sectionOne .subscribeSection {
  -ms-grid-column: 15;
  -ms-grid-column-span: 9;
  grid-column: 15 / 24;
  font-size: 24px;
  position: relative;
  top: 50px;
}

.App .footerContainer .sectionTwo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 23;
  grid-column: 1 / 24;
  grid-row: span 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[23];
      grid-template-columns: repeat(23, 1fr);
  grid-auto-rows: 100px;
  background-color: black;
}

.App .footerContainer .sectionTwo .subSectionOne {
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1 / 12;
  grid-row: span 5;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[23];
      grid-template-columns: repeat(23, 1fr);
  grid-auto-rows: 50px;
}

.App .footerContainer .sectionTwo .subSectionOne .yourExperience {
  -ms-grid-column: 12;
  -ms-grid-column-span: 12;
  grid-column: 12 / 24;
  grid-row: span 1;
  font-size: 24px;
  position: relative;
  top: 100px;
  right: 20px;
}

.App .footerContainer .sectionTwo .subSectionOne .firstList {
  -ms-grid-column: 11;
  -ms-grid-column-span: 13;
  grid-column: 11 / 24;
  position: relative;
  top: 100px;
  line-height: 30px;
}

.App .footerContainer .sectionTwo .subSectionOne .firstList li {
  font-size: 13px;
}

.App .footerContainer .subSectionTwo {
  -ms-grid-column: 12;
  -ms-grid-column-span: 12;
  grid-column: 12 / 24;
  grid-row: span 5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[23];
      grid-template-columns: repeat(23, 1fr);
  grid-auto-rows: 50px;
  color: white;
}

.App .footerContainer .subSectionTwo .followUs {
  -ms-grid-column: 1;
  -ms-grid-column-span: 23;
  grid-column: 1 / 24;
  position: relative;
  top: 100px;
  font-size: 24px;
}

.App .footerContainer .subSectionTwo .socials {
  -ms-grid-column: 1;
  -ms-grid-column-span: 23;
  grid-column: 1 / 24;
  position: relative;
  top: 125px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[46];
      grid-template-columns: repeat(46, 1fr);
}

.App .footerContainer .subSectionTwo .socials .fb {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.App .footerContainer .subSectionTwo .socials .in {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
}

.App .footerContainer .subSectionTwo .socials .tw {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / 10;
}

.App .subHeaderContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[23];
      grid-template-columns: repeat(23, 1fr);
  grid-auto-rows: 50px;
}

.App .subHeaderContainer .innerSubHeader {
  -ms-grid-column: 1;
  -ms-grid-column-span: 23;
  grid-column: 1 / 24;
  background-color: red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[46];
      grid-template-columns: repeat(46, 1fr);
  color: white;
}

.App .subHeaderContainer .innerSubHeader .buttonCoffee {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8 / 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #400040;
  border-right: 1px solid #400040;
}

.App .subHeaderContainer .innerSubHeader .buttonTeas {
  -ms-grid-column: 11;
  -ms-grid-column-span: 7;
  grid-column: 11 / 18;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #400040;
}

.App .subHeaderContainer .innerSubHeader .buttonBioProducts {
  -ms-grid-column: 18;
  -ms-grid-column-span: 4;
  grid-column: 18 / 22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #400040;
}

.App .subHeaderContainer .innerSubHeader .buttonAccessories {
  -ms-grid-column: 22;
  -ms-grid-column-span: 3;
  grid-column: 22 / 25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #400040;
}

.App .subHeaderContainer .innerSubHeader .buttonChocolate {
  -ms-grid-column: 25;
  -ms-grid-column-span: 3;
  grid-column: 25 / 28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #400040;
}

.App .subHeaderContainer .innerSubHeader .buttonGiftPack {
  -ms-grid-column: 28;
  -ms-grid-column-span: 3;
  grid-column: 28 / 31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .subHeaderContainer .innerSubHeader .whiteSpace {
  -ms-grid-column: 31;
  -ms-grid-column-span: 7;
  grid-column: 31 / 38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #400040;
  border-right: 1px solid #400040;
}

.App .onlinePage .aBlock {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-position: right;
     object-position: right;
}

.App .onlinePage .bBlock {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-position: right;
     object-position: right;
}

.App .onlinePage .cBlock {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-position: right;
     object-position: right;
}

.App .onlinePage .title {
  color: black;
  position: absolute;
  bottom: 400px;
}

.App .onlinePage .title .firstTitle {
  position: relative;
  right: 170px;
  font-size: 40px;
}

.App .onlinePage .title .firstSubTitle {
  font-size: 32px;
}

.App .onlinePage .title .visitShop {
  font-size: 16px;
  color: black;
  border: 1px solid red;
  background-color: red;
  width: 50%;
  position: relative;
  top: 20px;
  padding: 10px;
}

.App .onlinePage .title .secondTitle {
  position: relative;
  right: 50px;
  font-size: 40px;
}

.App .onlinePage .title .secondSubTitle {
  position: relative;
  right: 120px;
}

.App .onlinePage .title .thirdSubTitle {
  position: relative;
  right: 185px;
}

.App .onlinePage .blackSpace {
  height: 100px;
  background-color: black;
}

.App .categorySearch {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[23];
      grid-template-columns: repeat(23, 1fr);
  grid-auto-rows: 100px;
}

.App .categorySearch .innerCategorySearch {
  -ms-grid-column: 4;
  -ms-grid-column-span: 16;
  grid-column: 4 / 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
  padding-top: 50px;
  grid-row: span 9;
}

.App .categorySearch .innerCategorySearch .productCategory {
  padding-bottom: 30px;
}

.App .categorySearch .innerCategorySearch .productCategory .productImage {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.App .categorySearch .innerCategorySearch .productCategory .productText {
  height: 75px;
  background-color: black;
  color: white;
  font-size: 20px;
  padding-left: 30px;
  padding-top: 10px;
}

.App .categorySearch .carouselProduct {
  -ms-grid-column: 4;
  -ms-grid-column-span: 16;
  grid-column: 4 / 20;
  background-color: lightblue;
  grid-row: span 5;
}

.App .categorySearch .carouselProduct .productSlider {
  background-color: lightgreen;
  margin: 10px;
}

.App .categorySearch .carouselProduct .productSlider .productImage {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.App .categorySearch .carouselProduct .productSlider .productName, .App .categorySearch .carouselProduct .productSlider .productDescription {
  text-align: center;
}

.App .categorySearch .carouselProduct .productSlider .productName {
  font-size: 22px;
}

.App .categorySearch .carouselProduct .productSlider .productDescription {
  font-size: 16px;
}

.App .categorySearch .carouselProduct .productSlider .priceWeight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App .categorySearch .outerContainerShipping {
  margin-top: 100px;
  -ms-grid-column: 4;
  -ms-grid-column-span: 16;
  grid-column: 4 / 20;
  grid-row: span 5;
  background-color: lightgrey;
  margin-bottom: 100px;
}

.App .categorySearch .outerContainerShipping .innerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .categorySearch .outerContainerShipping .innerContainer .freeShipping, .App .categorySearch .outerContainerShipping .innerContainer .shippingTime, .App .categorySearch .outerContainerShipping .innerContainer .freeShipping {
  text-align: center;
  margin-top: 50px;
}

.App .categorySearch .outerContainerShipping .innerContainer .freeShipping .shippingImage, .App .categorySearch .outerContainerShipping .innerContainer .shippingTime .shippingImage, .App .categorySearch .outerContainerShipping .innerContainer .freeShipping .shippingImage {
  width: 75px;
  height: 75px;
  margin-bottom: 50px;
}

.App .categorySearch .topSale {
  -ms-grid-column: 4;
  -ms-grid-column-span: 16;
  grid-column: 4 / 20;
  text-align: center;
  margin: 50px;
}

.App .categorySearch .topSale .redLine {
  background-color: red;
  height: 2px;
  width: 40px;
  position: relative;
  left: 590px;
}

.App .outterContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[23];
      grid-template-columns: repeat(23, 1fr);
}

.App .outterContainer .backgroundImage {
  -ms-grid-column: 1;
  -ms-grid-column-span: 23;
  grid-column: 1 / 24;
}

.App .outterContainer .backgroundImage img {
  text-align: center;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.App .outterContainer .greenTree {
  -ms-grid-column: 1;
  -ms-grid-column-span: 23;
  grid-column: 1 / 24;
}

.App .outterContainer .greenTree img {
  text-align: center;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.App .outterContainer .branch {
  -ms-grid-column: 1;
  -ms-grid-column-span: 23;
  grid-column: 1 / 24;
}

.App .outterContainer .berryImage {
  -ms-grid-column: 1;
  -ms-grid-column-span: 23;
  grid-column: 1 / 24;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[23];
      grid-template-columns: repeat(23, 1fr);
}

.App .outterContainer .berryImage .space {
  -ms-grid-column: 1;
  -ms-grid-column-span: 23;
  grid-column: 1 / 24;
}

.App .outterContainer .berryImage .branchLeft {
  -ms-grid-column: 1;
  grid-column: 1;
  position: relative;
  bottom: 80px;
}

.App .outterContainer .berryImage .branchCenter {
  -ms-grid-column: 9;
  -ms-grid-column-span: 6;
  grid-column: 9 / 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 90px;
}

.App .outterContainer .berryImage .branchRight {
  -ms-grid-column: 24;
  grid-column: 24;
  position: relative;
  bottom: 80px;
}
/*# sourceMappingURL=App.css.map */